dconf
environment.d
evolution
fontconfig
.git
git
github-copilot
glib-2.0
gnome-session
goa-1.0
gtk-4.0
.gsd-keyboard.settings-ported
ibus
lazygit
nautilus
pulse
gnome-initial-setup-done
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
